#container {
    border: 1px solid black;
    border-style: dashed;
    padding: 10px;
 }

 #section {
     background-color:  #fdc57b;
     padding: 10px;
     display: block;
     align-items: center;
     height: 100vh;
 }

 h2 {
     font-size: 15px
 }

 #selected-habit {
     padding: 5px;
 }

 /* Exit btn */
 #exit-btn-container {
     display: flex;
     justify-content: flex-end;
     align-self: flex-end;
     padding: 5px;
 }

 #exit-btn {
     border-radius: 50%;
     border: 0;
     background-color: #fbf2d5;
 }

 #exit-btn:hover {
     background-color: #fd7b7b;
     transform: scale(1.3);
     border: 1px solid black;
 }